#
# Copyright 2020 Amazon.com, Inc. or its affiliates. All rights reserved.
#
# AMAZON PROPRIETARY/CONFIDENTIAL
#
# You may not use this file except in compliance with the terms and conditions
# set forth in the accompanying LICENSE.TXT file. This file is a
# Modifiable File, as defined in the accompanying LICENSE.TXT file.
#
# THESE MATERIALS ARE PROVIDED ON AN "AS IS" BASIS. AMAZON SPECIFICALLY
# DISCLAIMS, WITH RESPECT TO THESE MATERIALS, ALL WARRANTIES, EXPRESS,
# IMPLIED, OR STATUTORY, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
#

[Unit]
Description=FFS Test Server
After=multi-user.target

[Service]
Type=idle
Environment=LOG_DISABLE=yes
#Execution params start
ExecStart=/usr/bin/ffs_test_server
ExecStop=/usr/bin/killall ffs_test_server
User=pi
#Execution params end

[Install]
WantedBy=multi-user.target