BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y

# use minimal busybox with hush and networking tools
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-minimal.config"

# extracted from Rockchip legacy tinyrootfs busybox.config, some of them might
# be unneeded
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/rockchip/common/tinyrootfs/busybox.fragment"
